$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-b: 20px;
$font-size-xb: 22px;
$font-size-xxb: 24px;
$font-size-l: 26px;
$font-size-xl: 28px;
$font-size-amazing: 150px;

$color-text: #333;
$color-text-gray: #aaa;

$color-background: #fefefe;
$color-background-spring: #e7b5df;
$color-background-autumn: #f3c180;