<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mock Switch</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
		<el-row>
			<el-col :span="20" :offset="2">
				<h1>接口管理</h1>
				<el-table :data="tableData" style="width: 100%" border>
						<el-table-column prop="url" label="接口名称" sortable width="300">
						</el-table-column>
						<el-table-column label="当前选项"
							filter-placement="bottom-end">
							<template slot-scope="scope">
								<el-radio-group v-model="scope.row.status" @change="changeHandle(scope.row)">
									<el-radio v-for="item in scope.row.selections" :label="item.value">{{ item.name }}</el-radio>
								</el-radio-group>
							</template>
						</el-table-column>
					</el-table>
			</el-col>
		</el-row>
	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//unpkg.com/vue/dist/vue.min.js"></script>
  <script src="//unpkg.com/element-ui/lib/index.js"></script>
  <script src="index.js"></script>
</body>

</html>